streamlit
python-telegram-bot>=20.0
nest_asyncio
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.33
langchain-groq==0.1.9
langchain-google-genai
langchain-huggingface
supabase
python-dotenv
langchain-qdrant
qdrant-client
sentence-transformers
